html {
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #cecfec;
}

.box {
    background-color: #8c8ea7;
    max-width: 480px;
    margin: 6px;
    padding: 6px;
}

.hidden {
    display: none;
}