@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

main {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px
}

article {
    flex: content 1 1;
    border-radius: 12px;
    padding: 28px;
    background-color: rgb(246, 240, 250);
    border: 1px solid rgb(141, 141, 141);
}

h1 {
    flex: 400px 1 0;
    font-weight: bolder;
    font-size: 48px;
    color:rgb(76, 85, 192)
}

aside {
    color:rgb(228, 222, 255);
    display: grid;
    flex-wrap: wrap;
    flex: 250px 1 1;
    background-color: rgb(76, 85, 192);
    border-radius: 12px;
    padding: 16px;
}

nav {
    gap: 8px 16px;
    display: flex;
    flex-wrap: wrap;
}

nav > a {
    text-decoration: none;
    display: grid;
    flex: 128px 1 1;
    border-radius: 12px;
    padding: 4px 12px;
    background-color: rgb(131, 133, 233);
    color: white;
    border: 1px solid rgb(190, 191, 255);
}

input {
    color: black;
    transition: outline 0.25s;
    min-height: 30px;
    border-radius: 6px;
    border: 1px solid lightgray;
    outline: 1px solid rgba(146, 107, 253, 0);
}

input:hover {
    outline: 1px solid rgb(146, 107, 253);
}

input:focus {
    outline: 1px solid rgb(0, 47, 255)
}

button {
    transition: background-color 0.1s, border 0.25s;
    font-family: "Inter";
    min-height: 30px;
    border-radius: 6px;
    border: 2px solid rgb(94, 101, 197);
    background-color: #9790ff;
}

button:hover {
    cursor: pointer;
    border-color: blue;
}

button:active {
    background-color: rgb(200, 215, 255);
}

body {
    font-family: 'Inter', 'Segoe UI', sans-serif;
    display: grid;
    place-items: center;
    gap: 10px;
    padding: 12px;
    background-color: #d6d7f7;
}

.box {
    background-color: #8c8ea7;
    max-width: 480px;
    margin: 6px;
    padding: 6px;
}

.hidden {
    display: none;
}