@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

main {
    flex-grow: 1;
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 10px;
    box-sizing: border-box;
    gap: 10px;
}

article {
    flex: 50% 1 1;
    text-align: center;
    border-radius: 12px;
    padding: 28px;
    background-color: rgb(246, 240, 250);
    border: 1px solid rgb(141, 141, 141);
}

section {
    flex: auto 1 1;
    margin: 16px 0px;
    border: 1px solid rgb(197, 160, 146);
    background-color: rgb(255, 236, 244);
    border-radius: 8px;
    padding: 8px;
}

section > h3, h4 {
    color: rgb(117, 64, 64);
    margin-top: 6px;
}

h1 {
    flex: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 48px;
    color:var(--purple);
}

/* h3, h4, h5, h6 {
    margin-top: 4px;
} */

aside {
    flex: 50% 1 1;
    color:rgb(228, 222, 255);
    display: grid;
    flex-wrap: wrap;
    flex: 240px 1 0;
    background-color: var(--purple);
    border-radius: 12px;
    padding: 16px;
}

nav {
    display: flex;
    place-items: center;
    gap: 8px;
    padding: 4px;
    border-bottom: 2px solid var(--purple);
    width: 100%;
}

nav > button {
    display: block;
    background-color: white;
    min-width: 72px;
    text-align: center;
    padding: 10px;
    border-radius: 16px;
}

nav > a:hover {
    cursor: pointer;
}

nav > span {
    color: var(--purple)
}

#assign_nav {
    gap: 8px 16px;
    display: flex;
    flex-wrap: wrap;
}

#assign_nav > a {
    text-decoration: none;
    display: grid;
    flex: 128px 1 1;
    border-radius: 12px;
    padding: 4px 12px;
    background-color: rgb(131, 133, 233);
    color: white;
    border: 1px solid rgb(190, 191, 255);
}

#fullpage, #fullpage > article {
    min-height: 100%;
}

input {
    color: black;
    transition: outline 0.25s;
    min-height: 30px;
    border-radius: 6px;
    border: 1px solid lightgray;
    outline: 1px solid rgba(146, 107, 253, 0);
}

input:hover {
    outline: 1px solid rgb(146, 107, 253);
}

input:focus {
    outline: 1px solid rgb(0, 47, 255)
}

button {
    transition: background-color 0.1s, border 0.25s;
    font-family: "Inter";
    min-height: 30px;
    border-radius: 6px;
    border: 1px solid rgb(94, 101, 197);
    background-color: rgb(222, 224, 255);
}

button:hover {
    cursor: pointer;
    border-color: blue;
}

button:active {
    background-color: rgb(200, 215, 255);
}

body {
    font-family: 'Inter', 'Segoe UI', sans-serif;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    place-items: center;
    gap: 10px;
    margin: 0px;
    background-color: #d6d7f7;
}

.box {
    background-color: #8c8ea7;
    max-width: 480px;
    margin: 6px;
    padding: 6px;
}

.hidden {
    display: none;
}

.wrapped {
    display: flex;
    width: 100%;
    place-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.force_wide {
    flex: 100% 1 1;
}